    {% extends "base/base_yaas.html" %}
    {% load i18n %}
    {% block title %} Login {% endblock %}
    {% block content_login %}
        {% if user.is_authenticated %}
           <p>Welcome, {{ user.username }}. You are logged in.</p>
        {% else %}
             <div class ="login">
                 <form action="" method="post">
                    {% csrf_token %}
                      <p>Welcome, pal. Please Login.</p>
                    <label for="username"></label>
                    <input type="text" name="username" value="" id="username" placeholder={% trans "Username" %}> <br>
                    <label for="password"></label>
                    <input type="password" name="password" value="" id="password" placeholder={% trans "Password" %}>  <br>
                    <p class="submit"><input type="submit" name="login" value={% trans "Login" %}> </p>
                 </form>
             </div>
        {% endif %}
    {% endblock %}

