    {% extends "base/base_yaas.html" %}
    {% block title %} Auction Detail {% endblock %}

    {% block basecontent %}
       <h2 class="sub-header">Auction Details</h2>
       <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
              <tbody>
                 <tr>
                    <th>ID</th>
                    <td>{{ singleauction.id }}</td>
                 </tr>
                 <tr>
                    <th>Product name</th>
                    <td><a href="#">{{ singleauction.product }}</a></td>
                 </tr>
                 <tr>
                    <th>Auction Title</th>
                    <td>{{ singleauction.title }}</td>
                 </tr>
                 <tr>
                    <th>Updated On</th>
                    <td>{{ singleauction.updated_time }}</td>
                 </tr>
                 <tr>
                    <th>Auction Ends</th>
                    <td>{{ singleauction.end_time }}</td>
                 </tr>
                 <tr>
                    <th>Initial Price [€]</th>
                    <td>{{ singleauction.product.initial_price }}</td>
                 </tr>
                 <tr>
                    <th>Current highest Bid [€]</th>
                    <td>{{ singleauction.current_price }}</td>
                 </tr>
                 <tr>
                    <th>Product Category</th>
                    <td><a href="/listauccat/{{ singleauction.product.product_category.id }}">{{ singleauction.product.product_category }}</a></td>
                 </tr>
                 <tr>
                    <th>Product Description</th>
                    <td>{{ singleauction.product.description }}</td>
                 </tr>
                 <tr>
                    <th>Auction owner</th>
                    <td>{{singleauction.product.seller }}</td>
                 </tr>
              </tbody>
            </table>
          </div>
    {% endblock %}

    {% block basecontent_bid %}
          <form class="login" action="/placebid/{{ singleauction.id }}/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
               <input type="text"  name="bid_amount" placeholder="Amount">
               <p> Enter [€] {{ singleauction.current_price }} or more </p>
               <p class="submit"><input type="submit" value="Place bid" name="placebid"> </p>


           </form>
    {% endblock %}

    {% block basecontent_bidders %}
         {% if display %}
             <h2 class="sub-header">Latest Bidding Details</h2>
             <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Bid Amount [€]</th>
                      <th>Bid Time</th>
                      <th>Bidders</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for a in bidders %}
                        <tr>
                          <td>{{ a.id }}</td>
                          <td> {{ a.bid_amount }}</td>
                          <td> {{ a.bid_time }}</td>
                          <td>{{ a.unique_bidder }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
             </div>
         {% else %}
             <div class="page-header">
                <p> Be the first to bid!</p>
             </div>
         {% endif %}
    {% endblock %}






