   {% extends "base_yaas.html" %}
    {% block title %} Edit Account {% endblock %}
    {% block basecontent_editaccount %}
        {% if user.is_authenticated %}
            <div class ="login">
                 <form action="" method="post">
                    {% csrf_token %}
                      <p>Welcome, {{ user.username }}. Edit will be done!</p>
                    <label for="username"></label>
                    <input type="text" name="username" value="" placeholder="Username" id="username"> <br>
                    <label for="password"></label>
                    <input type="password" name="password" value="" placeholder="Password" id="password">  <br>
                    <p class="submit"><input type="submit" value="Update" name="edit"> </p>
                 </form>
             </div>
        {% else %}
            <p>Login required to edit your account.</p>
        {% endif %}
    {% endblock %}

