    {% extends "base/base_yaas.html" %}
    {% block title %} Login {% endblock %}
    {% block basecontent_login %}
        {% if user.is_authenticated %}
           <p>Welcome, {{ user.username }}. You are logged in.</p>
        {% else %}
             <div class ="login">
                 <form action="" method="post">
                    {% csrf_token %}
                      <p>Welcome, pal. Please Login.</p>
                    <label for="username"></label>
                    <input type="text" name="username" value="" placeholder="Username" id="username"> <br>
                    <label for="password"></label>
                    <input type="password" name="password" value="" placeholder="Password" id="password">  <br>
                    <p class="submit"><input type="submit" value="Login" name="login"> </p>
                 </form>
             </div>
        {% endif %}
    {% endblock %}

