    {% extends "base.html" %}
    {% block title %} Login {% endblock %}
    {% block basecontent %}
        <div class ="mainContent">
                <h4> Hello Auctionary! </h4>
         <form action="" method="post">
            {% csrf_token %}
            <label for="username">Username :</label>
            <input type="text" name="username" value="" id="username"> <br>
            <label for="password">Password :</label>
            <input type="password" name="password" value="" id="password">  <br>
            <input type="submit" value="Login" name="login">
             <input type="submit" value="Cancel" name="cancel">
            <input type="hidden" name="next" value="loginpage">
         </form>

        </div>
    {% endblock %}
