    {% extends "base_yaas.html" %}
    {% block title %} Register {% endblock %}
    {% block basecontent_register %}

        <div class ="login">
                <h4> Hello Auctionary! </h4>
           {% if success %}
                 <h3> Thank you for registration!</h3>
                <a href="index.html"> Home page</a>
           {% else %}
               <form class="subject" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="signup" value="Signup">
                </form>
           {% endif %}
        </div>
    {% endblock %}
