    {% extends "base/base_yaas.html" %}
    {% load i18n %}
    {% block title %} Register {% endblock %}
    {% block basecontent_register %}
        <div class ="login">
            {% if user.is_authenticated %}
              <p>Welcome, {{ user.username }}. You can not register while logged in.</p>
            {% else %}
                <p>Welcome, new user. Please register. * Required</p>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.username | linebreaks  }}
                    {{ form.password1| linebreaks  }}
                    {{ form.password2 | linebreaks  }}
                    {{ form.first_name | linebreaks  }}
                    {{ form.last_name | linebreaks }}
                    {{ form.email | linebreaks }}
                    <input type="submit" name="signup" value="Signup">
                </form>
            {% endif %}
        </div>
    {% endblock %}
