{% extends "base/base_yaas.html" %}
{% load i18n %}
{% block title %} Save Auction {% endblock %}

{% block content_addauction %}
    <h2 class="sub-header">Add Product</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>{% trans "Product name" %}</th>
                <td>{{ form_data.0 }}</td>
            </tr>
            <tr>
                <th>Auction Title</th>
                <td>{{ form_data.1 }}</td>
            </tr>
            <tr>
                <th>Auction Ends</th>
                <td>{{ form_data.4 }}</td>
            </tr>
            <tr>
                <th>Initial Price [€]</th>
                <td>{{ form_data.2 }}</td>
            </tr>
            <tr>
                <th>Product category</th>
                <td>{{ form_data.5 }}</td>
            </tr>
            <tr>
                <th>Product Description</th>
                <td>{{ form_data.3 }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% if display %}
    {% block content_confirmauction %}
        <form class="" action="{% url 'yaas.views.save_auction' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p class="submit"><input type="submit" value="Yes" name="yes_save">
                <input type="submit" value="No" name="no_save"></p>
        </form>
    {% endblock %}
{% endif %}




