    {% extends "base/base_yaas.html" %}
    {% block title %} Search results. {% endblock %}
    {% block basecontent_searchresult %}
       {% if display %}
          <h2 class="sub-header">Search result Auctions!</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Product Name</th>
                  <th>Auction Title</th>
                  <th>Updated On</th>
                  <th>Auction Ends</th>
                  <th>Initial Price [€]</th>
                  <th>Current highest Bid [€]</th>
                  <th>Product Category</th>
                  <th>Auction owner</th>
                </tr>
              </thead>
              <tbody>
                {% for a in auc %}
                    <tr>
                      <td>{{ a.id }}</td>
                      <td><a href="#">{{ a.product }}</a></td>
                      <td><a href="/aucdetail/{{ a.id }}">{{ a.title }}</a></td>
                      <td> {{ a.updated_time }}</td>
                      <td> {{ a.end_time }}</td>
                      <td>{{ a.product.initial_price }}</td>
                      <td>{{ a.current_price }}</td>
                      <td><a href="/listauccat/{{ a.product.product_category.id }}">{{ a.product.product_category }}</a></td>
                      <td>{{ a.product.seller }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
       {% endif %}
    {% endblock %}
