    {% extends "base/base_yaas.html" %}
    {% load i18n %}
    {% block title %} Update Auction Description {% endblock %}
    {% block content_updatedescription %}
        <div class ="descrp">
            <p>Welcome, {{ user.username }}. Please update Auction description.</p>
             <form action="" method="post">
                {% csrf_token %}
                {{ form.description | escape }}
                <p class="submit"><input type="submit" value="Update" name="update"> </p>
             </form>
        </div>
    {% endblock %}
